:root {
    --white: #fff;
    --blue : #166e70;
}

html {
    margin: 0px;
}

.background {
    margin             : 0px;
    background-image   : url("Images/Background-desktop.png");
    background-position: top;
    background-repeat  : no-repeat;
}

body {
    margin     : 0px;
    font-family: Almarai;
    line-height: 1.11;
    text-align : center;
}

footer {
    margin                 : 24px 0 0;
    padding                : 32px 86px 28.7px 87px;
    background-color       : #269aa3;
    display                : flex;
    flex-direction         : row-reverse;
    justify-content        : space-between;
    align-items            : center;
    border-top-left-radius : 2%;
    border-top-right-radius: 2%;
}

.footer-head {
    width     : 241px;
    height    : 28px;
    margin    : 16px 0;
    font-size : 18px;
    text-align: center;
}

.white-Color {
    color: #ffffff;
}

.card-box {
    display        : flex;
    flex-direction : row-reverse;
    justify-content: center;
    margin-top     : 74px;
}

.card {
    width        : 50%;
    height       : 70px;
    margin       : 74px 50px 32px;
    padding      : 110px 0 46px;
    border-radius: 15px;
    box-shadow   : 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.card-name {
    width           : 22%;
    height          : 32%;
    padding         : 52.4px 14px 51.6px 15px;
    border          : solid 2px var(--blue);
    background-color: var(--blue);
    border-radius   : 50%;
    margin          : 0px auto;
    position        : relative;
    bottom          : 176px;
    display         : flex;
    align-items     : center;
    text-align      : center;
    justify-content : center;
}

.card-name-text {
    height   : 44px;
    font-size: 35px;
}

.card-text {
    font-size: 26px;
    color    : #0d2243;
    position : relative;
    bottom   : 150px;
}

.second>.card-text {
    bottom: 200px;
}

.intro-box {
    border-radius   : 15px;
    box-shadow      : 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    padding         : 45px 107px 30px;
}

.intro-box-header {
    width     : 100%;
    height    : 52px;
    margin    : 0 0 8px;
    font-size : 32px;
    text-align: center;
    color     : var(--blue);
}

.intro-box-content {
    margin     : 8px 0 0;
    font-size  : 29px;
    line-height: 1.67;
    text-align : center;
    color      : #269aa3;
}

.heading-first {
    margin   : 16px 0px 3px;
    font-size: 75px;
    color    : var(--blue);
}

.heading-second {
    margin     : 20px 16px 16px;
    font-size  : 40px;
    line-height: 1.5;
    color      : #0d2243;
}

.astemed-Logo {
    position: relative;
    right   : 12%;
}

header {
    display         : flex;
    flex-direction  : row;
    justify-content : flex-end;
    height          : 54px;
    padding         : 35.2px 4px 34.4px 285.7px;
    box-shadow      : 0 6px 15px 0 rgba(131, 131, 131, 0.12);
    background-color: var(--background-color);
}

.icon-container {
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

.website,
.instagram,
.facebook {
    margin: 10px;
}

@media screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) {

    .heading-first,
    .heading-second,
    footer,
    .intro-box,
    .card-box {
        position: relative;
        top     : 624px;
    }

    .astemed-Logo {
        right: 8%;
    }
}

@media (max-width: 767px) {
    .background {
        background-image: url("Images/Background.png");
    }

    .heading-first,
    .heading-second,
    footer,
    .intro-box,
    .card-box {
        position: relative;
        top     : 340px;
    }

    .intro-box {
        box-shadow: 0 15px 15px 0 rgb(0 0 0 / 10%);
        padding   : 47px 16px 14px;
    }

    .card-name {
        width : 26%;
        height: 29%;
        bottom: 198px;
    }

    .card-text {
        font-size: 30px;
        bottom   : 180px;
    }

    .card {
        height: 140px;
        margin: 74px 9px 32px;
        width : 95%;
    }

    .card-box {
        flex-direction: column;
        margin-top    : 119px;
    }

    footer {
        flex-direction         : column;
        border-top-left-radius : 7%;
        border-top-right-radius: 7%;
    }

    .second {
        margin-top: 130px;
    }

    .second>.card-text {
        bottom: 225px;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .heading-first,
    .heading-second,
    footer,
    .intro-box,
    .card-box {
        position: relative;
        top     : 640px;
    }

    .card {
        height: 115px;
    }

    .card-name {
        width: 30%;
    }

    .astemed-Logo {
        right: 10%;
    }

}