html {
    margin: 0px;
}

body {
    width              : 100%;
    margin             : 0px;
    background-image   : url("Images/Background-desktop.png");
    background-position: center;
    background-repeat  : no-repeat;
}

footer {
    height                 : 40%;
    margin                 : 24px 0 0;
    padding                : 32px 86px 28.7px 87px;
    object-fit             : contain;
    background-color       : #269aa3;
    display                : flex;
    flex-direction         : row-reverse;
    justify-content        : space-between;
    align-items            : center;
    border-top-left-radius : 2%;
    border-top-right-radius: 2%;
}

footer:first-child {
    width         : 80%;
    height        : 28px;
    margin        : 0 0 16px;
    font-family   : Almarai;
    font-size     : 18px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.11;
    letter-spacing: normal;
    text-align    : center;
    color         : #ffffff;
}

footer>div>p {
    width         : 241px;
    height        : 28px;
    margin        : 16px 0;
    font-family   : Almarai;
    font-size     : 18px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.11;
    letter-spacing: normal;
    text-align    : center;
    color         : #ffffff;
}

.card-container {
    display        : flex;
    flex-direction : row-reverse;
    justify-content: center;
    margin-top     : 74px;
}

.card {
    width           : 30%;
    height          : 70px;
    margin          : 74px 50px 32px;
    padding         : 110px 0 46px;
    border-radius   : 15px;
    box-shadow      : 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.card-name {
    width           : 22%;
    height          : 32%;
    padding         : 52.4px 14px 51.6px 15px;
    border          : solid 2px #166e70;
    background-color: #166e70;
    border-radius   : 50%;
    margin          : 0px auto;
    position        : relative;
    bottom          : 176px;
    display         : flex;
    align-items     : center;
    text-align      : center;
    justify-content : center;
}

.card-name>p {
    width         : 119px;
    height        : 44px;
    font-family   : Almarai;
    font-size     : 35px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.11;
    letter-spacing: normal;
    text-align    : center;
    color         : #ffffff;


}

.card-content {
    width         : 100%;
    height        : 144px;
    font-family   : Almarai;
    font-size     : 26px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.2;
    letter-spacing: normal;
    text-align    : center;
    color         : #0d2243;
    position      : relative;
    bottom        : 150px;

}

.second>.card-content {
    bottom: 200px;
}

.container {

    height          : 30%;
    object-fit      : contain;
    border-radius   : 15px;
    box-shadow      : 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    padding         : 45px 107px 30px;
}

.container-header {
    width         : 100%;
    height        : 52px;
    margin        : 0 0 8px;
    font-family   : Almarai;
    font-size     : 32px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.11;
    letter-spacing: normal;
    text-align    : center;
    color         : #166e70;
}

.container-content {
    width                        : 97%;
    height                       : 30%;
    margin                       : 8px 0 0;
    font-family                  : Almarai;
    font-size                    : 29px;
    font-weight                  : normal;
    font-stretch                 : normal;
    font-style                   : normal;
    line-height                  : 1.67;
    letter-spacing               : normal;
    text-align                   : center;
    color                        : #269aa3;
    /* border-bottom-left-radius : 2%;
    border-bottom-right-radius   : 2%; */
}



h1 {
    width         : 98%;
    height        : 95px;
    margin        : 16px 16px 3px;
    font-family   : Almarai;
    font-size     : 75px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.12;
    letter-spacing: normal;
    text-align    : center;
    color         : #166e70;


}

h2 {
    width         : 98%;
    height        : 113px;
    margin        : 3px 16px 20px;
    font-family   : Almarai;
    font-size     : 40px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.5;
    letter-spacing: normal;
    text-align    : center;
    color         : #0d2243;

}

.Astemed-Logo {
    width     : 112.3px;
    height    : 48.4px;
    object-fit: contain;
    position  : relative;
    right     : 12%;
}

.Rectangle-1 {
    display         : flex;
    flex-direction  : row;
    justify-content : flex-end;
    height          : 54px;
    padding         : 35.2px 4px 34.4px 285.7px;
    box-shadow      : 0 6px 15px 0 rgba(131, 131, 131, 0.12);
    background-color: var(--background-color);
}

@media screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) {

    h1,
    h2,
    footer,
    .container,
    .card-container {
        position: relative;
        top     : 731px;
    }



    .Astemed-Logo {
        right: 8%;
    }

    .icon-container>img {
        margin: 10px;
    }
}



@media (max-width: 767px) {
    .Background {
        width              : 100%;
        margin             : 0px;
        background-image   : url("Images/Background.png");
        background-position: top;
        background-repeat  : no-repeat;

    }

    body {
        width           : 100%;
        background-image: none;
    }

    h1,
    h2,
    footer,
    .container,
    .card-container {
        position: relative;
        top     : 340px;
    }

    .Astemed-Logo {
        width     : 112.3px;
        height    : 48.4px;
        object-fit: contain;

    }




    h1 {
        width         : 90%;
        height        : 95px;
        margin        : 16px 16px 3px;
        font-family   : Almarai;
        font-size     : 75px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.12;
        letter-spacing: normal;
        text-align    : center;
        color         : #166e70;

    }

    h2 {
        width         : 90%;
        height        : 113px;
        margin        : 3px 16px 20px;
        font-family   : Almarai;
        font-size     : 40px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.5;
        letter-spacing: normal;
        text-align    : center;
        color         : #0d2243;
    }

    .container {
        height          : 90vh;
        object-fit      : contain;
        border-radius   : 15px;
        box-shadow      : 0 15px 15px 0 rgb(0 0 0 / 10%);
        background-color: var(--white);
        padding         : 47px 16px 14px;
    }

    .container-header {
        width         : 102%;
        height        : 52px;
        margin        : 0 0 8px;
        font-family   : Almarai;
        font-size     : 31px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.11;
        letter-spacing: normal;
        text-align    : center;
        color         : #166e70;
    }

    .container-content {
        width         : 97%;
        height        : 497px;
        margin        : 8px 0 0;
        font-family   : Almarai;
        font-size     : 30px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.67;
        letter-spacing: normal;
        text-align    : center;
        color         : #269aa3;
    }

    .card-name {
        width           : 26%;
        height          : 29%;
        padding         : 52.4px 14px 51.6px 15px;
        border          : solid 2px #166e70;
        background-color: #166e70;
        border-radius   : 50%;
        margin          : 0px auto;
        position        : relative;
        bottom          : 198px;
        display         : flex;
        align-items     : center;
        text-align      : center;
        justify-content : center;
    }

    .card-name>p {
        width         : 119px;
        height        : 44px;
        font-family   : Almarai;
        font-size     : 35px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.11;
        letter-spacing: normal;
        text-align    : center;
        color         : #ffffff;


    }

    .card-content {
        width         : 100%;
        height        : 144px;
        font-family   : Almarai;
        font-size     : 30px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.1;
        letter-spacing: normal;
        text-align    : center;
        color         : #0d2243;
        position      : relative;
        bottom        : 180px;

    }

    .card {
        width           : 95%;
        height          : 140px;
        margin          : 74px 9px 32px;
        padding         : 110px 0 46px;
        border-radius   : 15px;
        box-shadow      : 0 0 15px 0 rgba(0, 0, 0, 0.1);
        background-color: var(--white);
    }

    .card-container {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        margin-top     : 119px;
    }

    footer {

        display                : flex;
        flex-direction         : column;
        justify-content        : center;
        align-items            : center;
        border-top-left-radius : 7%;
        border-top-right-radius: 7%;
        padding                : 0px;
    }

    .second {
        margin-top: 130px;
    }

    .second>.card-content {
        bottom: 225px;
    }

    .icon-container {
        width          : 72%;
        display        : flex;
        flex-direction : row;
        justify-content: center;
    }

    .icon-container>img {
        margin: 10px;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    h1,
    h2,
    footer,
    .container,
    .card-container {
        position: relative;
        top     : 830px;
    }

    .card {
        width : 38%;
        height: 115px;
    }

    .card-name {
        width: 30%;
    }

    .Astemed-Logo {
        right: 10%;
    }

    .icon-container>img {
        margin: 10px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 370px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        height: 113px;
    }
}